.content {
  position: relative;
}

.buttons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
  top: 1px;
  left: 6px;
  display: inline-block;
}

.close {
  right: 1px;
  background-color: #ff3b47;
  border-color: #9d252b;
}

.close:hover {
  background-color: #9d252b;
}

.minimize {
  left: 12px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.minimize:hover {
  background-color: #ac8100;
}

.zoom {
  left: 17px;
  background-color: #00d742;
  border-color: #049931;
}

.zoom:hover {
  background-color: #049931;
}

.menu {
  width: 550px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.screen {
  background-color: #243238;
  opacity: 1;
  box-sizing: border-box;
  width: 550px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

p {
  position: relative;
  left: 30%;
  margin-left: -9.5em;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  white-space: normal;
  overflow: auto;
  width: 0;
}

span {
  color: #fff;
  font-weight: bold;
  font-family: monospace;
  overflow-x: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
}
